label{
  box-sizing:border-box;
  color:rgba(232, 230, 227, 0.85);
  cursor:default;
  display:inline;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings:"tnum", "tnum";
  font-size:14px;
  font-variant-caps:normal;
  font-variant-east-asian:normal;
  font-variant-ligatures:normal;
  font-variant-numeric:tabular-nums;
  height:auto;
  line-height:39.9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  position:relative;
  text-align:right;
  text-size-adjust:100%;
  touch-action:manipulation;
  white-space:nowrap;
  width:auto;
  -webkit-tap-highlight-color: rgba(232, 230, 227, 0);
}

input{
  background-color:rgb(24, 26, 27);
  background-image:none;
  border-bottom-color:rgb(0, 105, 191);
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  border-left-color:rgb(0, 105, 191);
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:rgb(0, 105, 191);
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:rgb(0, 105, 191);
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  border-top-style:solid;
  border-top-width:1px;
  box-sizing:border-box;
  color:rgba(232, 230, 227, 0.65);
  cursor:text;
  /* display:inline-block; */
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings:"tnum", "tnum";
  font-size:14px;
  font-stretch:100%;
  font-style:normal;
  font-variant-caps:normal;
  font-variant-east-asian:normal;
  font-variant-ligatures:normal;
  font-variant-numeric:tabular-nums;
  font-weight:400;
  height:32px;
  letter-spacing:normal;
  line-height:32px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  overflow-x:visible;
  overflow-y:visible;
  padding-bottom:4px;
  padding-left:30px;
  padding-right:11px;
  padding-top:4px;
  position:relative;
  text-align:start;
  text-indent:0px;
  text-overflow:ellipsis;
  text-rendering:auto;
  text-shadow:none;
  text-size-adjust:100%;
  text-transform:none;
  touch-action:manipulation;
  width:670px;
  word-spacing:0px;
  writing-mode:horizontal-tb;
  -webkit-appearance:none;
  -webkit-rtl-ordering:logical;
  -webkit-tap-highlight-color:rgba(232, 230, 227, 0);
  -webkit-border-image:none; 
}

ant-form-item-control{
  box-sizing:border-box;
  color:rgba(232, 230, 227, 0.65);
  display:block;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings:"tnum", "tnum";
  font-size:14px;
  font-variant-caps:normal;
  font-variant-east-asian:normal;
  font-variant-ligatures:normal;
  font-variant-numeric:tabular-nums;
  height:40px;
  line-height:40px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  position:relative;
  text-size-adjust:100%;
  width:670px;
  zoom:1;
  -webkit-tap-highlight-color:rgba(232, 230, 227, 0);

}

body{
  background-color:rgb(24, 26, 27);
  box-sizing:border-box;
  color:rgba(232, 230, 227, 0.65);
  display:block;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings:"tnum", "tnum";
  font-size:14px;
  font-variant-caps:normal;
  font-variant-east-asian:normal;
  font-variant-ligatures:normal;
  font-variant-numeric:tabular-nums;
  height:900px;
  line-height:21px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  text-size-adjust:100%;
  width:1440px;
  -webkit-tap-highlight-color:rgba(232, 230, 227, 0);
}

button{
  align-items:flex-start;
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(8, 95, 190);
  background-image:none;
  background-origin:padding-box;
  background-size:auto;
  border-bottom-color:rgb(8, 99, 198);
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  border-left-color:rgb(8, 99, 198);
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:rgb(8, 99, 198);
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:rgb(8, 99, 198);
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  border-top-style:solid;
  border-top-width:1px;
  box-shadow:none;
  box-sizing:border-box;
  color:rgb(255, 255, 255);
  cursor:pointer;
  /* display:inline-block; */
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings:"tnum", "tnum";
  font-size:14px;
  font-stretch:100%;
  font-style:normal;
  font-variant-caps:normal;
  font-variant-east-asian:normal;
  font-variant-ligatures:normal;
  font-variant-numeric:normal;
  font-weight:400;
  height:32px;
  letter-spacing:normal;
  line-height:21px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  outline-color:rgb(255, 255, 255);
  outline-style:none;
  outline-width:0px;
  overflow-x:visible;
  overflow-y:visible;
  padding-bottom:0px;
  padding-left:15px;
  padding-right:15px;
  padding-top:0px;
  position:relative;
  text-align:center;
  text-decoration-color:rgb(255, 255, 255);
  text-decoration-line:none;
  text-decoration-style:solid;
  text-indent:0px;
  text-rendering:auto;
  text-shadow:rgba(0, 0, 0, 0.12) 0px -1px 0px;
  text-size-adjust:100%;
  text-transform:none;
  touch-action:manipulation;
  transition-delay:0s;
  transition-duration:0.3s;
  transition-property:all;
  transition-timing-function:cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select:none;
  white-space:nowrap;
  width:92.1875px;
  word-spacing:0px;
  writing-mode:horizontal-tb;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(232, 230, 227, 0);
  -webkit-border-image:none;
}

.formContainer {
  align-items:center;
box-sizing:border-box;
color:rgba(232, 230, 227, 0.65);
/* display:flex; */
flex-direction:row;
flex-wrap:wrap;
font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-feature-settings:"tnum", "tnum";
font-size:14px;
font-variant-caps:normal;
font-variant-east-asian:normal;
font-variant-ligatures:normal;
font-variant-numeric:tabular-nums;
height:504.781px;
justify-content:center;
line-height:21px;
padding-bottom:50px;
padding-left:50px;
padding-right:50px;
padding-top:50px;
text-size-adjust:100%;
width:1440px;
-webkit-tap-highlight-color:rgba(232, 230, 227, 0);
  display: grid;
  margin: auto;
}