{% extends "trans19/layouts/base.html" %}
{% block title %}
Login
{% endblock %}
{% block content %} {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %} {% if next %} {% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %} {% endif %}
<div class="container-fluid my-5">
    <div class="card">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <label class="" title="Username">
                    {% include 'trans19/svgs/usernameSvg.html' %}
                    {{ form.username.label_tag }}
                </label>
                {{ form.username }}
                <br/>
                <label class="" title="Password">
                    {% include 'trans19/svgs/passwordSvg.html' %}
                    {{ form.password.label_tag }}
                </label>
                {{ form.password }}
                <br/>
                <button type="submit" class="login_btn">
                    {% include 'trans19/svgs/loginSvg.html' %}
                    Log in
                </button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>

            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        </div>
    </div>
</div>
{% endblock %}