{% extends "trans19/layouts/base.html" %}
{% block title %}
Reset Password
{% endblock %}

{% block content %}

<div class="container-fluid my-5">
    <div class="card">
        <div class="card-header">
            Reset Password
        </div>
        <div class="card-body">
            <form action="" method="post">{% csrf_token %}
                {% if form.email.errors %}{{ form.email.errors }}{% endif %}
                <label class="" title="Email">
                    {% include 'trans19/svgs/usernameSvg.html' %}
                    Email:
                </label>
                {{ form.email }}
                <br/>
                <input type="submit" class='login_btn' value="Reset password" />
            </form>
        </div>
    </div>
</div>
{% endblock %}