{% extends "trans19/layouts/base.html" %}
{% block content %}
    <h2 class="text-center mt-5">Location Record</h2>
    <table>
            <tr>
                <th class="header">Locations</th>
                <th class="header">Address</th>
                <th class="header">District</th>
                <th class="header">X Coord</th>
                <th class="header">Y Coord</th>
                <th class="header">Modify</th>
            </tr>
            {% for location in latest_location_list %}
            <tr>
                <th>{{ location }}</th>
                <th>{{ location.address }}</th>
                <th>{{ location.district }}</th>
                <th>{{ location.x_coord }}</th>
                <th>{{ location.y_coord }}</th>
                <th>
                    <a href="{% url 'trans19:location_edit' pk=location.pk %}">Edit</a>
                    <a href="{% url 'trans19:location_delete' pk=location.pk %}">Delete</a>
                </th>
            </tr>
            {% endfor %}
    </table>
{% endblock %}