{% extends "base_generic.html" %}

{% block content %}

<h1>Patient: {{ patient.Name }} </h1>
<p><strong>Date of Birth:</strong> {{ patient.DOB }}</p>
<p><strong>Date Case Confirmed:</strong> {{ patient.DCC }}</p> 
<p><strong>Identity Document Number:</strong> {{ patient.IDN }}</p>  
<p><strong>Case Number:</strong> {{ patient.caseNum }}</p>
<!-- add by Nicholas on 28th April -->
<p><strong>Visit:</strong> {{patient.Location}}</p>

<div style="margin-left:20px;margin-top:20px">
<h4>Travels</h4>

<dl>
{% for travel in patient.travelhistory_set.all %}
  <dt><a href="{{ travel.get_absolute_url }}">{{travel}} ({{travel.travelinstance_set.all.count}})</dt>
  <!-- <dd>{{travel.summary}}</dd> -->
{% endfor %}
</dl>

</div>
{% endblock %}
